<section class="overflow-hidden relative bg-black">
  <div class="2xl:max-7xl mx-auto py-4 overflow-hidden bg-green-50">
    <div class="mx-auto">
      <div class="overflow-x-hidden relative">
        <div class="animate-marquee whitespace-nowrap gap-4 flex">
          <img class="h-8" src="/brands/1.svg" alt="" />
          <img class="h-8" src="/brands/2.svg" alt="" />
          <img class="h-8" src="/brands/3.svg" alt="" />
          <img class="h-8" src="/brands/4.svg" alt="" />
          <img class="h-8" src="/brands/6.svg" alt="" />
          <img class="h-8" src="/brands/7.svg" alt="" />
          <img class="h-8" src="/brands/8.svg" alt="" />
          <img class="h-8" src="/brands/9.svg" alt="" />
          <img class="h-8" src="/brands/10.svg" alt="" />
          <img class="h-8" src="/brands/11.svg" alt="" />
          <img class="h-8" src="/brands/12.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
