<section>
  <div
    class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pb-24 lg:pt-12"
      <div class="w-full">

        <!-- Full-width Fabform embed -->
        <iframe 
          id="fabform-embed"
          src="https://fabform.io/v/5WACr0HYcMfe"
          class="w-full"
          style="min-height:700px; border:0;" 
          frameborder="0">
        </iframe>
  </div>
  </div>
</section>
