<section class="relative overflow-hidden">
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-24">
    <div class="text-left sm:text-center">
      <p class="text-4xl font-semibold font-display text-blue-950 sm:text-5xl">
        Powerful dashboard to manage your forms <span class="lg:block"
          >and get the insight you need.</span
        >
      </p>
      <p class="mt-4 text-slate-600 text-base max-w-2xl mx-auto">Easily navigate all of FabForm's features through its powerful yet easy to use dashboard.</p>
      </div>
    </div>
    <div class="max-w-7xl mx-auto mt-12 relative lg:mt-24">
      <img
        src="/dashboard.png"
        alt="#"
        class="w-full rounded-t-3xl bg-slate-100 overflow-hidden"
      />
      <div class="relative" aria-hidden="true">
        <div
          class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[20%]">
        </div>
      </div>
    </div>
  </div>
</section>
