<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pb-24">
    <div class="text-center">
      <h1 class="text-4xl font-semibold font-display text-blue-950 sm:text-6xl">
        The mission <span class="lg:block">behind FabForm.</span>
      </h1>
      <p class="mt-4 text-slate-600 text-base max-w-2xl mx-auto">
       The <a href="/">Form Backend Service</a> that Developers love. 
      </p>
<!--
      <div
        class="grid grid-cols-2 mt-12 sm:grid-cols-4 lg:grid-cols-4 justify-between text-center -ml-4">
        <p><img class="mx-auto" src="/brands/1.svg" alt="" /></p>
        <p><img class="mx-auto" src="/brands/2.svg" alt="" /></p>
        <p><img class="mx-auto" src="/brands/3.svg" alt="" /></p>
        <p><img class="mx-auto" src="/brands/4.svg" alt="" /></p>
        <p><img class="mx-auto" src="/brands/5.svg" alt="" /></p>
        <p><img class="mx-auto" src="/brands/6.svg" alt="" /></p>
        <p><img class="mx-auto" src="/brands/7.svg" alt="" /></p>
        <p><img class="mx-auto" src="/brands/8.svg" alt="" /></p>
      </div>
    </div>
-->
    <dl
      class="grid grid-cols-1 gap-x-2 gap-y-16 text-center lg:grid-cols-3 py-24">
      <div
        class="mx-auto flex flex-col gap-y-4 p-4 lg:p-8 rounded-3xl bg-green-100 w-full">
        <dt class="leading-7 text-slate-500">Users</dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-blue-950 font-display sm:text-8xl">
          90000+
        </dd>
      </div>
      <div
        class="mx-auto flex flex-col gap-y-4 p-4 lg:p-8 rounded-3xl bg-green-100 w-full">
        <dt class="leading-7 text-slate-500">Form Submissions</dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-blue-950 font-display sm:text-8xl">
          25M+
        </dd>
      </div>
    
    </dl>

    <div class="flex flex-col max-w-2xl mx-auto gap-12 items-start mt-12">
      <div>
        <h1
          class="text-4xl font-semibold font-display text-blue-950 lg:text-9xl">
          A little bit about us...
        </h1>
        <p class="text-slate-600 text-bs">We aim to proivide the best form backend service in the industry.</p>
      </div>
      <ul
        class="grid grid-cols-1 gap-6 list-none md:grid-cols-1 md:gap-12"
        role="list">
        <li>
          <p class="text-lg font-display text-blue-950 lg:text-8xl">
            1. Easy Form Handling 
          </p>
          <p class="mt-2 text-2xl text-slate-500">Write your own HTML form code. Submit to our endpoints. We'll handle the rest.</p>
        </li>
        <li>
          <p class="text-lg font-display text-blue-950 lg:text-8xl">
            2. Works on all major development frameworks. 
          </p>
          <p class="mt-2 text-2xl text-slate-500">Eleventy, GatsbyJS, Gridsome, Hexo, Hugo, Jekyll, Middleman, NextJS, NuxtJS, Pelican and more. </p>
        </li>
        <li>
          <p class="text-lg font-display text-blue-950 lg:text-8xl">
            3. Powerful features and integrations. 
          </p>
          <p class="mt-2 text-2xl text-slate-500">FabForm gives you power at your fingertips. Features include: File Upload, Email Notifications, Redirections, Spam Protection, Custom Email Templates, Auto Responses, Webhooks, Data Export, Captcha, 3rd party integrations and much more.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
