<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="text-left sm:text-center">
      <p class="text-4xl font-semibold font-display text-blue-950 sm:text-9xl">
        Oops! Error 404 <span class="lg:block">Page Not Found</span>
      </p>
      <p class="max-w-md mx-auto mt-4 text-slate-500">
        The page you're looking for might have been moved, deleted, or never
        existed in the first place. Double-check the URL or return to the
        homepage to continue exploring.
      </p>
      </div>
  </div>
</section>
