<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pb-24">
    <div class="text-center">
      <h1 class="text-4xl font-semibold font-display text-blue-950 sm:text-6xl">
        Your Email Address <span class="lg:block">Is Verified.</span>
      </h1>
      <p class="mt-4 text-slate-600 text-base max-w-2xl mx-auto">
       Welcome On Board. 
      </p>
    </div>
  </div>
</section>
