<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-24">
    <!-- Header -->
    <div class="text-center">
      <h1 class="text-4xl font-semibold font-display text-blue-950 lg:text-6xl">
        Hooray! No monthly plans. Pay once, use Fabform forever.
      </h1>
    </div>

    <div class="grid grid-cols-1 gap-8 mt-12 lg:grid-cols-2">
      <!-- Free Plan -->
      <div class="h-full p-8 bg-blue-100 rounded-3xl shadow-lg flex flex-col">
        <div class="flex flex-col w-full gap-4 text-3xl text-blue-950 font-display">
          <span class="text-2xl lg:text-9xl order-last">$0</span>
          <span>Free</span>
        </div>
        <p class="mt-6 text-lg font-display text-blue-950">
          Get started with powerful forms for free — unlock even more with Lifetime Access.
        </p>
        <ul role="list" class="flex flex-col mt-6 text-sm text-blue-950 gap-y-2">
          <li class="flex items-center gap-3">Unlimited Forms <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Unlimited Responses <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Unlimited Questions per form <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Add Image to Forms <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Custom colors and fonts <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Logic builder <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Score & calculations <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Hidden fields <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Embed forms <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Google Sheets integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Slack integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Zapier integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Email notification to self <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Multiple endings per form <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Webhooks <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Collect Signatures <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Calendly integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Cal.com integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">SavvyCal integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Workspaces (or folders) <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Non-English language support <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Multiple language support <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Custom fonts <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Redirect to a URL <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Add your brand logo <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Customize form meta data <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Remove FabForm branding <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Partial Submissions <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Refill link <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Custom Domains <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">File Uploads <span class="ml-auto font-bold">Up to 10MB</span></li>
          <li class="flex items-center gap-3">Invite team members <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Collect Payments <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Google Tag Manager (FB, TikTok Pixel etc.) <span class="ml-auto text-gray-400 font-bold">×</span></li>
          <li class="flex items-center gap-3">Form Analytics & Drop-off Rate <span class="ml-auto font-bold">Basic</span></li>
        </ul>
        <div class="mt-8">
          <a class="items-center inline-flex w-full bg-blue-50 duration-200 font-medium h-12 hover:bg-blue-100 justify-center px-6 py-1 rounded-full text-blue-600 text-center text-sm" target="_blank" href="https://app.fabform.io/signup">Get Started Free</a>
        </div>
      </div>

      <!-- Paid Plan -->
      <div class="h-full p-8 bg-green-100 rounded-3xl shadow-lg flex flex-col">
        <div class="flex flex-col w-full gap-4 text-3xl text-blue-950 font-display">
          <span class="text-2xl lg:text-9xl text-green-950 order-last">$99</span>
          <span>Lifetime Access</span>
        </div>
        <p class="mt-6 text-lg font-display text-blue-950">
          Unlock unlimited possibilities, advanced features, and total control over your forms.
        </p>
        <ul role="list" class="flex flex-col mt-6 text-sm text-green-950 gap-y-2">
          <li class="flex items-center gap-3">Unlimited Forms <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Unlimited Responses <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Unlimited Questions per form <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Add Image to Forms <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Custom colors and fonts <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Logic builder <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Score & calculations <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Hidden fields <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Embed forms <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Google Sheets integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Slack integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Zapier integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Email notification to self <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Multiple endings per form <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Webhooks <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Collect Signatures <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Calendly integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Cal.com integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">SavvyCal integration <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Workspaces (or folders) <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Non-English language support <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Multiple language support <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Custom fonts <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Redirect to a URL <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Add your brand logo <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Customize form meta data <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Remove FabForm branding <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Partial Submissions <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Refill link <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Custom Domains <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">File Uploads <span class="ml-auto font-bold">Unlimited (FUP)</span></li>
          <li class="flex items-center gap-3">Invite team members <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Collect Payments <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Google Tag Manager (FB, TikTok Pixel etc.) <span class="ml-auto text-green-600 font-bold">✓</span></li>
          <li class="flex items-center gap-3">Form Analytics & Drop-off Rate <span class="ml-auto font-bold">Advanced</span></li>
        </ul>
        <div class="mt-8">
          <a class="items-center inline-flex w-full bg-green-500 duration-500 font-medium h-12 hover:bg-green-600 justify-center px-6 py-1 rounded-full text-white text-center text-sm" target="_blank" href="https://buy.stripe.com/bJedR88uqg7idbOeola7C0c">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

