<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <ul
      class="grid grid-cols-1 text-center gap-6 mt-12 list-none md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:mt-24"
      role="list">
      <li class="lg:order-first">
        <div class="h-full p-8 rounded-2xl lg:p-10 bg-blue-100">
          <div class="flex flex-col items-center gap-4 h-full justify-between">
            <p class="text-sm text-blue-900 font-display">
              "As a full-time professional, I needed flexible learning options.
              This platform exceeded my expectations. The self-paced courses and
              diverse subjects let me customize my learning journey. I've gained
              new skills that helped me stand out in my industry."
            </p>
            <div
              class="flex flex-col gap-3 w-full items-center text-center justify-center order-first">
              <img
                class="inline-block w-12 h-12 rounded-full shrink-0"
                src="/avatars/head2.svg"
                alt="I'm amazed by the quality of courses offered on this platform. The instructors are experts in their fields, and the interactive learning approach keeps me engaged. I've gained skills I can immediately apply to my career"
              />

              <div>
                <p class="text-lg font-display text-blue-950">
                  Roberta Johnson
                </p>
                <p class="text-blue-950 text-xs">Digital Marketing</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li
        class="items-center inline-flex order-first col-span-full lg:col-span-1">
        <div class="max-w-2xl mx-auto text-center">
          <p
            class="text-4xl font-semibold font-display text-blue-950 lg:text-5xl">
            A skill building <span class="lg:block">journey with Enlightr</span>
          </p>
          <p class="text-slate-600 text-base mt-4 max-w-md mx-auto lg:text-xl">
            Read how Enlightr helped master news skills
          </p>
        </div>
      </li>
      <li
        class="items-center justify-between w-full flex flex-col shrink-0 h-full p-8 rounded-2xl lg:p-10 bg-blue-100">
        <figure>
          <div class="max-w-2xl text-center">
            <div class="flex flex-col items-center gap-4">
              <p class="text-sm text-blue-900 font-display">
                "I'm amazed by the quality of courses offered on this platform.
                The instructors are experts in their fields, and the interactive
                learning approach keeps me engaged. I've gained skills I can
                immediately apply to my career"
              </p>
              <div
                class="flex flex-col gap-3 w-full items-center text-center justify-center order-first">
                <img
                  class="inline-block w-12 h-12 rounded-full shrink-0"
                  src="/avatars/head1.svg"
                  alt="I'm amazed by the quality of courses offered on this platform. The instructors are experts in their fields, and the interactive learning approach keeps me engaged. I've gained skills I can immediately apply to my career"
                />

                <div>
                  <p class="text-lg font-display text-blue-950">
                    Roberta Johnson
                  </p>
                  <p class="text-blue-950 text-xs">Digital Marketing</p>
                </div>
              </div>
            </div>
          </div>
        </figure>
      </li>
    </ul>
  </div>
</section>
