<section>
   <div
    class="relative flex justify-center max-h-full overflow-hidden lg:px-0 md:px-12">
    <div
      class="relative z-10 flex flex-col items-center flex-1 px-8 py-32 bg-white lg:py-16 md:flex-none md:px-28 sm:justify-center">
      <div class="w-full mx-auto lg:max-w-sm md:px-0 lg:w-96 sm:px-4">
        <div class="flex flex-col">
          <div>
            <h2
              class="text-3xl font-normal tracking-tight text-blue-950 font-display">
              Contact Us
            </h2>
            <p class="mt-2 text-sm text-slate-600">We would love to hear from you.</p>
          </div>
        </div>
          <form action="https://fabform.io/f/JKOkjBT" method="post" >
          <div class="mt-4 space-y-6">
            <div>
              <label
                class="block mb-3 text-sm font-medium text-blue-950">Your name</label
              >
              <input name="name"
                class="block w-full h-10 px-4 py-3 text-blue-950 bg-slate-100 border rounded-lg appearance-none border-none placeholder-slate-400 focus:bg-slate-50 focus:outline-none focus:ring-green-500 sm:text-sm"
                placeholder="Your name"
              />
            </div>
            <div class="col-span-full">
              <label
                class="block mb-3 text-sm font-medium text-blue-950">What is the name of your company / organisation?</label
              >
              <input name="company"

                class="block w-full h-10 px-4 py-3 text-blue-950 bg-slate-100 border rounded-lg appearance-none border-none placeholder-slate-400 focus:bg-slate-50 focus:outline-none focus:ring-green-500 sm:text-sm"
                placeholder="Company name"
              />
            </div>
            <div class="col-span-full">
              <label
                class="block mb-3 text-sm font-medium text-blue-950"
                >What is your email address?</label
              >
              <input name="email"
                class="block w-full h-10 px-4 py-3 text-blue-950 bg-slate-100 border rounded-lg appearance-none border-none placeholder-slate-400 focus:bg-slate-50 focus:outline-none focus:ring-green-500 sm:text-sm"
                placeholder="email@example.com"
                autocomplete="off"
                type="email"
              />
            </div>
            <div>
              <label
                class="block mb-3 text-sm font-medium text-blue-950"
                >Message</label
              >
              <div class="mt-1">
                <textarea name="message"
                  class="block w-full px-4 py-3 text-blue-950 bg-slate-100 border rounded-lg appearance-none border-none placeholder-slate-400 focus:bg-slate-50 focus:outline-none focus:ring-green-500 sm:text-sm"
                  placeholder="How can we help you?"
                  rows="4"></textarea>
              </div>
            </div>

            <div class="col-span-full">
              <button
                class="items-center inline-flex w-full focus:outline-disc bg-green-500 duration-500 focus:ring-2 focus:ring-green-600 focus:ring-offset-2 font-medium h-12 hover:bg-green-600 justify-center px-6 py-1 rounded-full text-white text-center text-sm"
                type="submit">
               Send 
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
      </div>
</section>
